*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

header p{
    font-size: x-small;
    display: inline;
    padding: 0.3rem;
    margin: 16px;
}