*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

#_boxheader_{
    background-color: #2c3e50;
}

#_boxheader_ p{
    font-size: small;
    display: inline;
    padding: 0.7rem;
    margin: 10px 0;
}

#_boxnav_ p{
    font-size: x-small;
}


#_box1_{
    background-color: #1abc9c;
    padding: 35px 0;
    flex-direction: column;
    align-items: center;
}

#_box1_ img{
   width: 150px; 
}

#_box1_ h1{
    color: white;
 }

 #lilrow{
     background-color: white;
     width: 100px;
     height: 4px;
 }