*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

#_boxheader_{
    background-color: #2c3e50;
}

#_boxheader_ p{
    font-size: medium;
    display: inline;
    padding: 0.7rem;
    margin: 10px 0;
}

#_boxnav_ p{
    font-size: small;
}


#_box1_{
    background-color: #1abc9c;
    padding: 35px 0;
    flex-direction: column;
    align-items: center;
}

#_box1_ img{
   width: 180px; 
   margin-bottom: 15px;
}

#_box1_ h1{
    color: white;
}

.separatore{
    padding: 1rem;
}

#_box1_  #lilrow{
    background-color: white;
    width: 135px;
    margin: .5rem;
    height: 2px;
}

#_box2_{
    padding: 80px 0;
    flex-direction: column;
    align-items: center;
}

#_box2_  #lilrow{
    background-color: black;
    width: 135px;
    margin: .5rem;
    height: 2px;
}

.col img{
    width: 300px;
    border-radius: 8px;
}

.portfolio .row{
    padding: 12px 0;
}

#dueparagrafi col{
    width: 300px;
    margin-top: 30px;
}

#download-button{
    border: 1px solid white;
    padding: 5px;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 15px;
}

#download-button .fas{
    padding: 0 5px;
}

.txt-contact{
    width: 65%;
    margin-top: 30px;
}

.myButton {
	background-color:#1abc9c;
	border-radius: 4px;
	cursor:pointer;
	color:#ffffff;
	padding:5px 11px;
	text-decoration:none;
}

#treparagrafi{
    width: 1000px;
}

#footer1{
    background-color: #3a546d;
    padding: 3rem;
    justify-content: center;
}

#footer1 .col{
    text-align: center;
}

.footer2{
    background-color: #2c3e50;
    padding: 1.5rem;
}

#lilcircle {
    border: 1px solid white;
    padding: 6px;
    margin: .3rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#specialtxt{
    color: #1abc9c;
}