*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* (utility) separatore */


.separatore-white{
    padding: 1rem;
}

.separatore-white #lilrow{
    background-color: white;
    width: 120px;
    margin: .5rem;
    height: 2px;
}

.separatore-black{
    padding: 1rem;
}

.separatore-black #lilrow{
    background-color: black;
    width: 120px;
    margin: .5rem;
    height: 2px;
}



/* <!-- header --> */



#header-nav{
    background-color: #2c3e50; 
}

#header-nav a{
    padding: 20px;
    text-decoration: none;
    color: white;
}



/* <!-- hero avatar --> */



#_box1_{
    background-color: #1abc9c;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

#_box1_ img{
   width: 200px; 
   margin-bottom: 15px;
}

#_box1_ h1{
    color: white;
}



/* <!-- griglia portfolio--> */



#_box2_{
    padding: 80px 0;
    flex-direction: column;
    align-items: center;
}


/* <!-- due colonne --> */



#download-button{
    border: 1px solid white;
    padding: 5px;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 15px;
}

#download-button .fas{
    padding: 0 5px;
}

.txt-contact{
    width: 65%;
    margin-top: 30px;
}

.myButton {
	background-color:#1abc9c;
	border-radius: 4px;
	cursor:pointer;
	color:#ffffff;
	padding:5px 11px;
	text-decoration:none;
}

#treparagrafi{
    width: 1000px;
}

#footer1{
    background-color: #3a546d;
    padding: 3rem;
    justify-content: center;
}

#footer1 .col{
    text-align: center;
}

.footer2{
    background-color: #2c3e50;
    padding: 1.5rem;
}

#lilcircle {
    border: 1px solid white;
    padding: 6px;
    margin: .3rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#specialtxt{
    color: #1abc9c;
}